@{
    ViewData["Title"] = "اضافه کردن اساتید";
    ViewData["TSOstad"] = "اضافه کردن اساتید";
    ViewData["TTCode"] = "کد ملی";
    ViewData["TTMobile"] = "شماره تماس";
    ViewData["TTTeach"] = "حوزه تدریس";
    ViewData["TSName"] = "نام";
    ViewData["TSFamily"] = "نام خانوادگی";
    ViewData["ok"] = "ثبت";
    ViewData["close"] = "بستن";
    ViewData["Edit"] = "ویرایش";
    ViewData["Delete"] = "حذف";
    ViewData["operator"] = "عملیات";
    ViewData["TS"] = "ویرایش استاد";
    ViewData["save"] = "ذخیره";
}
@using shcool.Models.Teacher;
@model List<TeacherInfo>
<div class="text-center">

    <button type="button" class="btn btn-primary fs-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
        ثبت اساتید
    </button>
    <!-- modal teacher-->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="staticBackdropLabel">@ViewData["TSOstad"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column align-items-center row  g-3 needs-validation" novalidate method="post">
                        <div class="col-md-4  position-relative insideForm">
                            <label for="validationTooltip01" class="form-label">@ViewData["TSName"]:</label>
                            <input type="text" name="name" class="form-control fs-3" id="validationTooltip01" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip02" class="form-label">@ViewData["TSFamily"]:</label>
                            <input type="text" name="family" class="form-control fs-3" id="validationTooltip02" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltipUsername" class="form-label">@ViewData["TTCode"]:</label>
                            <input type="text" name="melicode" class="form-control fs-3" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                        </div>
                        <div class="col-md-6 position-relative insideForm">
                            <label for="validationTooltip03" class="form-label">@ViewData["TTMobile"]:</label>
                            <input type="text" name="phone" class="form-control fs-3" id="validationTooltip03" required>
                        </div>
                        <div class="col-md-3 position-relative insideForm">
                            <label for="validationTooltip05" class="form-label">@ViewData["TTTeach"]:</label>
                            <input type="text" name="Htadris" class="form-control fs-3" id="validationTooltip05" required>

                        </div>
                        <button class="btn btn-success w-25 mt-5 fs-3">@ViewData["ok"]</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- teacher data-->
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">@ViewData["TSName"]</th>
                    <th scope="col">@ViewData["TSFamily"] </th>
                    <th scope="col">@ViewData["TTCode"] </th>
                    <th scope="col">@ViewData["TTMobile"] </th>
                    <th scope="col">@ViewData["TTTeach"] </th>
                    <th scope="col">@ViewData["operator"] </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td>  </td>
                        <td>  </td>
                        <td>  </td>
                        <td>اطلاعاتی یافت نشد</td>
                        <td>  </td>
                        <td>  </td>
                    </tr>

                }
                else
                {

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Family</td>
                            <td>@item.Melicode</td>
                            <td>@item.Phone</td>
                            <td>@item.Htadris</td>
                            <td>
                                <a href="teacher/edit/@item.Id" class="btn btn-primary btn-sm">@ViewData["Edit"]</a>
                                <a href="teacher/remove/@item.Id"  class="btn btn-danger btn-sm">@ViewData["Delete"]</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    

</div>

