@{
    ViewData["Title"] = "School project";
    ViewData["TSName"] = "نام ";
    ViewData["TSFamily"] = " نام خانوادگی";
    ViewData["TSAge"] = "سن ";
    ViewData["TSMobile"] = " شماره تماس";
    ViewData["TSEmail"] = " ایمیل";
    ViewData["ok"] = "ثبت";
    ViewData["close"] = "بستن";
    ViewData["TSEdit"] = "ویرایش هنرآموز";
    ViewData["TS"] = "اضافه کردن هنرآموز";
    ViewData["operator"] = "عملیات";
    ViewData["Edit"] = "ویرایش";
    ViewData["Delete"] = "حذف";
    ViewData["save"] = "ذخیره";

}
<div class="text-center">

    <button type="button" class="btn btn-primary fs-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        ثبت هنر جویان
    </button>
    <!-- Modal student -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="staticBackdropLabel">@ViewData["TS"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="d-flex flex-column row  g-3 needs-validation" novalidate method="post">
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip01" class="form-label">@ViewData["TSName"]:</label>
                            <input type="text" class="form-control" id="validationTooltip01" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip02" class="form-label">@ViewData["TSFamily"]:</label>
                            <input type="text" class="form-control" id="validationTooltip02" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltipUsername" class="form-label">@ViewData["TSAge"]:</label>
                            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                        </div>
                        <div class="col-md-6 position-relative insideForm">
                            <label for="validationTooltip03" class="form-label">@ViewData["TSMobile"]:</label>
                            <input type="text" class="form-control" id="validationTooltip03" required>
                        </div>
                        <div class="col-md-3 position-relative insideForm">
                            <label for="validationTooltip05" class="form-label">@ViewData["TSEmail"]:</label>
                            <input type="text" class="form-control" id="validationTooltip05" required>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary fs-3" data-bs-dismiss="modal">@ViewData["close"]</button>
                    <button type="button" href="google.com" class="btn btn-primary fs-3">@ViewData["ok"]</button>
                </div>
            </div>
        </div>
    </div>

    <div class=" table-responsive mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@ViewData["TSName"]</th>
                    <th scope="col">@ViewData["TSFamily"] </th>
                    <th scope="col">@ViewData["TSAge"] </th>
                    <th scope="col">@ViewData["TSMobile"] </th>
                    <th scope="col">@ViewData["TSEmail"] </th>
                    <th scope="col">@ViewData["operator"] </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>Des</td>
                    <td>
                        <a data-bs-target="#exampleModal" data-bs-toggle="modal" class="btn btn-primary btn-sm">@ViewData["Edit"]</a>
                        <a class="btn btn-danger btn-sm">@ViewData["Delete"]</a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <!-- Modal  Edit-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@ViewData["TSEdit"]</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- vlaue pass nadadam-->
                    <form class="d-flex flex-column row  g-3 needs-validation" novalidate method="post">
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip01" class="form-label">@ViewData["TSName"]:</label>
                            <input type="text" class="form-control" id="validationTooltip01" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltip02" class="form-label">@ViewData["TSFamily"]:</label>
                            <input type="text" class="form-control" id="validationTooltip02" required>
                        </div>
                        <div class="col-md-4 position-relative insideForm">
                            <label for="validationTooltipUsername" class="form-label">@ViewData["TSAge"]:</label>
                            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                        </div>
                        <div class="col-md-6 position-relative insideForm">
                            <label for="validationTooltip03" class="form-label">@ViewData["TSMobile"]:</label>
                            <input type="text" class="form-control" id="validationTooltip03" required>
                        </div>
                        <div class="col-md-3 position-relative insideForm">
                            <label for="validationTooltip05" class="form-label">@ViewData["TSEmail"]:</label>
                            <input type="text" class="form-control" id="validationTooltip05" required>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">@ViewData["save"]</button>
                </div>
            </div>
        </div>
    </div>
</div>
